<!DOCTYPE html>
<html>

<head>
<title>MemoMix</title>
<meta charset="utf-8" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/splitpanes"></script>
<script src="js/compiled/memomix.js"></script>
<script src="js/compiled/projectImportExport.js"></script>
<script src="js/compiled/toJson.js"></script>
<script src="js/memomixWebapp.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://unpkg.com/splitpanes/dist/splitpanes.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MemoMix</a>
  </div>
</nav>

<div id="app">
  <splitpanes class="default-theme" style="height: 610px;">
    <div>
      <h2>Groupes</h2>
      <button @click="addGroup" class="btn btn-success btn-sm">Ajouter</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Identifiant du groupe</th>
            <th scope="col">Taille du groupe</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody v-for="(item, i) in groupInfo" :key="i">
          <tr>
            <td>
              <input type="text" v-model.trim="item.groupId" class="form-control form-control-sm" placeholder="Identifiant du groupe" />
            </td>
            <td>
              <input type="number" min="1" v-model.number="item.size" class="form-control form-control-sm" />
            </td>
            <td>
              <button @click="removeGroup(i)" class="btn btn-danger btn-sm">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h2>Personnes</h2>
      <button @click="addPerson" class="btn btn-success btn-sm">Ajouter</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Identifiant de la personne</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody v-for="(item, i) in personIds" :key="i">
          <tr>
            <td>
              <input type="text" v-model.trim="item.personId" class="form-control form-control-sm"
                     placeholder="Identifiant de la personne" />
            </td>
            <td>
              <button @click="removeGroup(i)" class="btn btn-danger btn-sm">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </splitpanes>

  <div id="rightView" class="split split-horizontal content">
    <p>BOnjour</p>
  </div>

</div>
</body>

</html>